.button {
    height: 40px;
    border-radius: 4px;
    padding: 0 20px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}
.button-primary {
    background-color: #1785E5;
    color: #fff;
}
.button-primary:hover{
    opacity: 0.8;
}
.button-primary-border{
    border: 1px solid#1785e5;
    color: #1785E5;
    background-color: transparent;
}
.button-primary-border:hover {
    opacity: 0.8;
}
.button-secondary-bordered{
    border: 1px solid #bcbebf;
    color: #303233;
    background-color: #fafafa;
}
.button-secondary-bordered:hover {
    opacity: 0.8;
}
