.card {
    border-radius: 4px;
    -webkit-box-shadow: 4px 4px 8px 8px rgba(34, 60, 80, 0.247);
    -moz-box-shadow: 4px 4px 8px 8px rgba(34, 60, 80, 0.295);
    box-shadow: 4px 4px 8px 8px rgba(34, 60, 80, 0.114);
    padding: 20px;
    position: relative;
}