.card {
    border-radius: 4px;
    -webkit-box-shadow: 4px 4px 8px 8px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 8px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 8px rgba(34, 60, 80, 0.2);
    padding: 20px;
}