.fieldset{
    display: flex;
    border: none;
    outline: none;
    padding: 10px 0;
    position: relative;

}
.fieldset-sm{
    width: 100%;
    max-width: 400px;
}
.fieldset-md{
    width: 100%;
    max-width: 500px;
}
.fieldset-lg{
    width: 100%;
    max-width: 600px;
}
.fieldset label{
    width: 300px;
    align-items: center;
    display: flex;
}